# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# common
target
*.iml
.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

build/
dist/
node_modules/